* {
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.scale {
	transition: 0.5s;
}

.scale:hover {
	transform: scale(1.5);
	transition: 0.5s;
}

/*=================== TITLE =====================*/
.game-name {
	width: 100vw;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #79be59; /* green */
	font-size: 40px;
	margin-top: 45px;
}

/*=================== MODAL =====================*/
.modal {
	width: 100vw;
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}

.modal__icon {
	font-size: 70px;
	color: #79be59; /* green */
}

.modal__header {
	padding: 10px 0;
	text-align: center;
	font-size: 2.5em;
}

.modal__message {
	padding: 5px 0;
	font-size: 1.5em;
}

.modal__button {
	width: 150px;
	height: 50px;
	font-size: 1em;
	background-color: #79be59;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 15px 0;
}

/*=================== WELCOME MODAL =====================*/
.modal--welcome {
	background: #ffffff url('../images/geometry2.png');
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.modal__header--rules {
	font-size: 2em;
	margin-top: 25px;
}

/*=================== THE END MODAL =====================*/
.modal--the-end {
	background-color: rgba(255, 255, 255, 0.8);
}

/*=================== FOOTER =====================*/
.footer {
	width: 100vw;
	margin-top: 20px;
	text-align: center;
}

.footer__social-btn {
	color: #79be59; /* green */
	margin: 0 1px;
}

.footer__author {
	padding: 10px;
}
