* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 100vw;
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	background-color: rgba(255, 255, 255, 0.8);
}

.modal__icon {
	font-size: 50px;
}

.modal__header {
	padding: 10px 0;
	font-size: 35px;
}

.modal__message {
	padding: 5px 0;
	font-size: 20px;
}

.modal__button {
	width: 150px;
	height: 50px;
	font-size: 1em;
	background-color: #59c9ba;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 15px 0;
}
